.headerLink {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: #000;
    }
  }
  @media (max-width: 768px) {
    display: none;
  }
}
